body {
	background-color: rgb(78, 75, 95);
	}
#container {	
	margin-left:10%;
	margin-top:2%;
	margin-right:10%;
}
nav {
	display:flex;
	justify-content:space-between;
	height:90px;
	}
#entete {
	color:#FFF;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:17px;
}
#trait {
	position:relative;
	height:1.5px;
	border:none;
	color:#999;
	background-color:#999;	
}
#navigation ul {
  list-style: none;
  text-align:center;
  margin:0;
  padding:0;

}
#navigation li {
	display:inline-block;
	text-align:center;
  
}
#navigation a {
	text-decoration:none;
	color:#FFF;
	width:70px;
	display:block;
	font-size:17px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  
}
#navigation a:hover {
	background:#000;
	transition:0.6s;
}
#corps {
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	margin:7%;
	
}
#text2 {
	color:#FFF;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:42px;
	text-align:center;
}
#text {
	color:#FFF;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:25px;
	width:400px;
	text-transform:uppercase;
	text-align:center;
}
#elem {
	display:flex;
	justify-content:center;

}
#elems{
	display:flex;
	flex-direction:column;
	height:150px;
	align-items:center;
}
#image {
	width:24px;
	height:24px;
}
#para {
	color:#CCC;
	margin:-10px;
}
#btn {
	text-decoration:none;
	border:3px solid #3F6;
	background:none;
	text-transform:uppercase;
	color:#3F6;
	width:200px;
	height:50px;
	border-radius:25px;
}
.vertical-line {	
	border-left:1px solid #999;
	height:110px;
}
@media screen and (max-width: 1024px) {
	#container {
		margin-left:5%;
		margin-right:5%;
	}
	nav {
		display:flex;
	}
	#entete {
		font-size:0.6em;
		width:100px;
	}
	#navigation a {
		font-size:0.6em;
		width:50px;
	}	
	#text2 {
		font-size:1em;
	}
	#elem {
		display:flex;
		flex-direction:column;
	}
	#image {
	width:15px;
	height:15px;
    }
	#elems {
		height:100px;
	}
	#btn {
	text-decoration:none;
	border:2px solid #3F6;
	text-transform:uppercase;
	color:#3F6;
	width:100px;
	height:40px;
	border-radius:25px;
    }
	#text {
	color:#FFF;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:17px;
	width:200px;
	text-transform:uppercase;
	text-align:center;
    }
	#para {
	color:#CCC;
	margin:-10px;
	font-size:12px;
    }
	.vertical-line {
		display:none;
	}
}
